<div class="container-fluid backgroundColor pt-5 pb-5 px-3">
  <div class="d-flex justify-content-start align-items-center">
    <img src="../../assets/arrow-left.png" (click)="goBack()" style="cursor: pointer;">
    <h2 style="padding-left: 4.5em;">Office</h2>
  </div>

  <div class="card text-dark bg-light mb-3 colorBorder">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="fw-bold p-3" style="cursor: pointer;">{{ officeData.officeName }}</h2>
      <i class="bi bi-pencil" style="width: 10%; cursor: pointer;"></i>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <img src="../../assets/people.png" style="padding-left: 1em;">
      <p style="margin-bottom: 0px; padding-left: 0.7em;"><strong>{{ users.length }}</strong> Staff Members in Office</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <hr class="new1">
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <p (click)="dropDownClicked()" style="padding-left: 0.7em;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">More Info
        <img src="../../assets/arrow-down.png" *ngIf="!arrow">
        <img src="../../assets/arrow-up.png" *ngIf="arrow">
      </p>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <div class="collapse" id="collapseExample">
        <div class="d-flex justify-content-start align-items-center">
          <img src="../../assets/Phone.jpg" style="padding-left: 1em;">
          <p style="margin-bottom: 0px; padding-left: 0.7em;">{{ officeData.officeNumber }}</p>
        </div>
        <div class="d-flex justify-content-start align-items-center my-3">
          <img src="../../assets/Email.png" style="padding-left: 1em;">
          <p style="margin-bottom: 0px; padding-left: 0.7em;">{{ officeData.officeEmail }}</p>
        </div>
        <div class="d-flex justify-content-start align-items-center my-3">
          <img src="../../assets/people.png" style="padding-left: 1em;">
          <p style="margin-bottom: 0px; padding-left: 0.7em;">Office Capacity: {{ officeData.maximumCapacity }}</p>
        </div>
        <div class="d-flex justify-content-start align-items-center my-3">
          <img src="../../assets/location.png" style="padding-left: 1em;">
          <p style="margin-bottom: 0px; padding-left: 0.7em;">{{ officeData.officeAddress }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <input class="form-control" type="text" placeholder="Search.." width="95%" [(ngModel)]="filterUsers" (ngModelChange)="testChange(filterUsers)">
    <!-- <i class="bi bi-search"></i> -->
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold fs-3 py-3" style="cursor: pointer;">Staff Members in Office</h1>
    <h1> {{ users.length }}</h1>
  </div>

  <div class="d-flex justify-content-between align-items-center py-2" *ngFor="let userDetails of users | filter: filterUsers">
    <img [src]="userDetails.avator">
    <h3> {{ userDetails.name + ' ' + userDetails.surname }}</h3>
    <img src="../../assets/edit_user.png" (click)="editUser(userDetails)" data-bs-toggle="modal" data-bs-target="#staffMember" style="cursor: pointer;">
  </div>

</div>

<div class="modal fade" id="staffMember" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer d-flex justify-content-center" style="border-top: none;">
        <button type="button" class="btn btn-primary" style="width: 80%; border-radius: 1.8em" data-bs-target="#editStaffMember" data-bs-toggle="modal">Edit Staff Member</button>
        <button type="button" class="btn btn-link" style="width: 80%; border-radius: 1.8em" data-bs-target="#deleteStaffMember" data-bs-toggle="modal">Delete Staff Member</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editStaffMember" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Edit Staff Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input class="form-control input-radius mb-3" type="text" placeholder="Name" [(ngModel)]="newStaffName"/>
          <input class="form-control input-radius" type="text" placeholder="Surname" [(ngModel)]="newStaffSurname"/>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center" style="border-top: none;">
        <button class="btn btn-primary my-4" (click)="updateUserDetails()">Update User Member</button>
        <h4 class="fw-light fs-3 text-center text-primary py-3">{{ staffUpdateMsg }}</h4>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteStaffMember" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Are you sure you want to Delete Staff Member?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer d-flex justify-content-center" style="border-top: none;">
        <button type="button" class="btn btn-danger" style="width: 80%; border-radius: 1.8em" data-bs-dismiss="modal" data-bs-toggle="modal">Delete Staff Member</button>
        <button type="button" class="btn btn-link" style="width: 80%; border-radius: 1.8em" data-bs-dismiss="modal" data-bs-toggle="modal">Keep Staff Member</button>
      </div>
    </div>
  </div>
</div>

<a class="float" data-bs-toggle="modal" data-bs-target="#newStaffMember" style="cursor: pointer;" *ngIf="!disableAddingStaff">
  <i class="bi bi-plus-lg my-float"></i>
</a>

<div class="modal fade" id="newStaffMember" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <h5 class="modal-title" id="exampleModalToggleLabel2">New Staff Member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form role="form" name="addUserForm" #addUserForm="ngForm" autocomplete="off">
        <div class="modal-body">
          <div class="mb-3">
            <input class="form-control input-radius mb-3" type="text" placeholder="Name" name="name" [(ngModel)]="staffMemberName" />
            <input class="form-control input-radius mb-3" type="text" placeholder="Surname" name="surname" [(ngModel)]="staffMemberSurname"/>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center" style="border-top: none;">
          <button class="btn btn-primary" (click)="addUserToOffice()" >Next</button>
          <!-- [disabled]="!addUserForm.valid.form" -->
          <h4 class="fw-light fs-3 text-center text-primary py-3">{{ staffAddedMsg }}</h4>
        </div>
      </form>
    </div>
  </div>
</div>

<a class="float" data-bs-toggle="modal" data-bs-target="#newStaffDisabled" style="cursor: pointer;" *ngIf="disableAddingStaff">
  <i class="bi bi-plus-lg my-float"></i>
</a>

<div class="modal fade" id="newStaffDisabled" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <h5 class="modal-title" id="staticBackdropLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="fw-bold text-warning fs-4">Please note that the maximum capacity has been reached. Remove a user or increase the office capacity to proceed.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>
