<div class="container-fluid backgroundColor pt-5 pb-5 px-3">
  <div class="d-flex justify-content-start align-items-center">
    <img src="../../assets/arrow-left.png" (click)="goBack()" style="cursor: pointer;">
    <h2 style="padding-left: 4.5em;">New Office</h2>
  </div>

  <form role="form" name="officeForm" #officeForm="ngForm" autocomplete="off">
    <div class="row justify-content-center">
      <div class="col-10 mt-3">
        <input class="form-control input-radius loginInput" required name="name" type="text" placeholder="Office Name" [(ngModel)]="officeName" #officeNamee="ngModel" >
        <div [hidden]="officeNamee.valid || officeNamee.pristine || officeNamee.touched" class="alert alert-danger">Enter In The Office Name</div>
      </div>
      <div class="col-10">
        <input class="form-control input-radius loginInput" required name="address" type="text" placeholder="Physical Address" [(ngModel)]="officeAddress" #officeAddresss="ngModel">
        <div [hidden]="officeAddresss.valid || officeAddresss.pristine || officeAddresss.touched" class="alert alert-danger">Enter In The Physical Address</div>
      </div>
      <div class="col-10">
        <input class="form-control input-radius loginInput" required name="email" type="text" placeholder="Email Address" [(ngModel)]="officeEmail" #officeEmaill="ngModel">
        <div [hidden]="officeEmaill.valid || officeEmaill.pristine || officeEmaill.touched" class="alert alert-danger">Enter In The Email Name</div>
      </div>
      <div class="col-10">
        <input class="form-control input-radius loginInput" required name="number" type="text" placeholder="Office Number" [(ngModel)]="officeNumber" #officeNumberr="ngModel" minlength="10" maxlength="10">
        <div [hidden]="officeNumberr.valid || officeNumberr.pristine || officeNumberr.touched" class="alert alert-danger">Enter In The Office Number</div>
      </div>
      <div class="col-10">
        <input class="form-control input-radius loginInput" required name="maxCapacity" type="text" placeholder="Maximum Capacity" [(ngModel)]="maximumCapacity" #maximumCapacityy="ngModel">
        <div [hidden]="maximumCapacityy.valid || maximumCapacityy.pristine || maximumCapacityy.touched" class="alert alert-danger">Enter In The Maximum Capacity</div>
      </div>
    </div>

    <div class="row d-flex align-items-center justify-content-start">
      <h2>Office Colour</h2>
    </div>

    <div class="row d-flex align-items-center justify-content-evenly">
      <img [src]="yellow" style="width: 15%; cursor: pointer;" (click)="yellowSelected()">
      <img [src]="pale_pink" style="width: 15%; cursor: pointer;" (click)="palePinkSelected()">
      <img [src]="orange" style="width: 15%; cursor: pointer;" (click)="orangeSelected()">
      <img [src]="brown" style="width: 15%; cursor: pointer;" (click)="brownSelected()">
      <img [src]="violet" style="width: 15%; cursor: pointer;" (click)="violetSelected()">
      <img [src]="pink" style="width: 15%; cursor: pointer;" (click)="pinkSelected()">
    </div>

    <div class="row d-flex align-items-center justify-content-evenly my-4">
      <img [src]="ocean_blue" style="width: 15%; cursor: pointer;" (click)="oceanBlueSelected()">
      <img [src]="green" style="width: 15%; cursor: pointer;" (click)="greenSelected()">
      <img [src]="sky_blue" style="width: 15%; cursor: pointer;" (click)="skyBlueSelected()">
      <img [src]="blue" style="width: 15%; cursor: pointer;" (click)="blueSelected()">
      <img [src]="purple" style="width: 15%; cursor: pointer;" (click)="purpleSelected()">
    </div>

    <div class="row d-flex align-items-center justify-content-center">
      <button type="button" class="btn btn-primary" style="width: 70%; border-radius: 1.8em" [disabled]="!officeForm.form.valid" (click)="addOffice()">Add Office</button>
      <h4 class="fw-light fs-3 text-center text-primary py-3">{{ officeAddedMsg }}</h4>
    </div>
  </form>



</div>
